img {
    width: 100px;
    margin-top: 70px;
}

button {
    margin-bottom: 7px;
    margin-right: 10px;
}

.contSort {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp {
    background-color: green;
}
.telegram {
  background-color: darkblue;
}
.delete {
    background-color: rgb(182, 14, 14);
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
